.cta25-container {
  width: 100%;
  position: relative;
}
.cta25-max-width {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  justify-content: flex-start;
}
.cta25-container01 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
}
.cta25-content {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.cta25-container02 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px 0;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cta25-container03 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px 0;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cta25-container04 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 0 0 1px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cta25-container05 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 0 0 1px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cta25-container06 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 0 0 1px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cta25-container07 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 0 0 1px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cta25-container08 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 0 0 1px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cta25-container09 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 0 0 1px;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.cta25-image {
  max-width: 410px;
}
.cta25-image1 {
  max-width: 410px;
}
.cta25-image2 {
  max-width: 410px;
}
.cta25-image3 {
  max-width: 410px;
}
.cta25-text16 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}
.cta25-text17 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}
.cta25-text18 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}
.cta25-text19 {
  display: inline-block;
}
.cta25-text20 {
  display: inline-block;
}
.cta25-text21 {
  display: inline-block;
}
.cta25-text22 {
  display: inline-block;
}
.cta25-text23 {
  color: var(--dl-color-theme-accent1);
  display: inline-block;
}
@media(max-width: 991px) {
  .cta25-max-width {
    flex-direction: row;
  }
  .cta25-container01 {
    flex-direction: column;
  }
  .cta25-image1 {
    width: auto;
  }
  .cta25-image2 {
    width: auto;
  }
  .cta25-image3 {
    width: auto;
  }
}
@media(max-width: 767px) {
  .cta25-image {
    width: 100%;
  }
  .cta25-image1 {
    width: 100%;
  }
  .cta25-image2 {
    width: 100%;
  }
  .cta25-image3 {
    width: 100%;
  }
}
